* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    
}

.wrapper{

}

.container, footer {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
  
/*header*/

  .header{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .header__menu {
    width: 40%;
}

  .header__menu__nav__list{
    display: flex;
    justify-content: space-between;

  }

  .header__menu__nav__list li{
  font-weight: 400;
  font-size: 16px;
  line-height: 18.96px;
  color: #4F5665;
  list-style-type: none;
  text-decoration: none;
  padding-right: 20px;
  text-align: center;
  padding-top: 13px;
  cursor: pointer;
  }

  ul.header__menu__nav__list a {
    text-decoration: none;
    color: #4F5665;
}

  .header__logo{
    width: 149px;
    height: 36.23px;
  }

  .sign_in__button{
  font-weight: 500;
  font-size: 16px;
  color: #0B132A;
  line-height: 18.96px;
  padding-right: 30px;
  }

  .sign_in__button-up{
  color: #F53838;
  justify-self: center;
  border: #F53838 solid 1px;
  padding:;
  border-radius: 50px;
  text-align: center;
  width: 150px;
  height: 45px;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
  }

  /*banner*/

  .banner{
    display: flex;
    justify-content: center;
    height: 382px;
    padding-top: 50px;
    margin-bottom: 50px;
  }

  .banner__description{
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  h1{
    font-size: 50px;
    line-height: 70px;
    font-weight: 500;
    color: #0B132A;
  }

  .banner__description__text{
    font-weight: 400px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    padding-top: 20px;
  }

  .banner__description__button{
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: #F53838;
    border-color: #F53838 ;
    color: white;
    font-weight: 700;
    border-style: none;
    box-shadow:   7px 21px 63px -8px #F53838;
    margin-top: 55px;
  }

  /*stat*/

  .stat{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    height: 200px;
  }

  .stat__item{
    display: flex;
    justify-content: space-between;
  }

  .stat img{
    width: 55px;
    height: 55px;
    margin-right: 35px;
  }

  .stat span{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: #0B132A;
  }

  .stat p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
  }

  /*features*/

  .features{
   
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 100px;
  }

  .features__description{
    width: 35%;
    margin-right: 50px;
    padding-top: 65px;
  }

   h2{
    font-size: 35px;
    line-height: 50px;
    font-weight: 500;
    color: #0B132A;
  }

  .features__description__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #4F5665;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .features__description__box__list{
    font-size: 14px;
    padding-left: 10px;
    line-height: 30px;
  }

  .features__description__box{
    display: flex;

  }

  /*Plan*/

  .plan__box1{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 50px;
    align-items: center;
  }

  .plan__box{
    width: 28%;
    border: #DDDDDD 2px solid;
    border-radius: 10px;
    height: 760px;
  }

  .plan h2{
    text-align: center;
  }

  .plan_desc{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color:#4F5665;
    margin-top: 20px;
    margin-bottom: 30px
  }

  .plan__box__item>img{
    width: 144.9px;
    height: 165.37px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .plan__box__item__p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }

  .plan__box__item__mainlist{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .plan__box__item__list {
    display: flex;
  }
  .plan__box__item__list p{
    font-size: 14px;
    padding-left: 10px;
    line-height: 30px;
    color: #4F5665;
  }

  .plan__box__item__list img{
    width: 24px;
    height: 24px;
  }

  .plan__box__item__planname{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
    padding-bottom: 30px;
  }

  .plan__box__item button{
    border-radius: 50px;
    border: 2px solid #F53838;
    width: 178px;
    height: 45px;
    color: #F53838;
    background: white;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    display: block;

  }

  .plan__box__box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .plan__box__item__bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }

  .plan__box__item__bottom__span{
    font-weight: 400;

  }

  .first{
    margin-top: 130px;
  }

  .second{
    margin-top: 100px;
  }

  .plan__box__item button:hover, .sign_in__button-up:hover{
    background: #F53838;
    color: white;
    cursor: pointer;
    transition: 0.5s;
  }

  .plan__box:hover{
    border: #F53838 solid 2px;
  }

.plan{
  padding-bottom: 70px;
}

.map h2{
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  text-align: center;
  text-align: center;
    width: 340px;
    margin: 0 auto;
}

.map p{
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.map{
  padding-bottom: 30px;
}

.subscribe{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.subscribe h2{
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  color: #0B132A;
  width: 56%;
}

.subscribe p, footer_left p{
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  padding-top: 10px;
}

.subscribe button{
  width: 250px;
  height: 60px;
  border-radius: 10px;
  background: #F53838;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  border: none;
}

footer{
 background: #F8F8F8;
 padding-top: 50px;
 padding-bottom: 50px;
 display: flex;
 justify-content: space-between;
 padding-left: 100px;
 padding-right: 100px;
}

.footer_right{
display: flex;
justify-content: space-between;
width: 50%;
}

.footer_left{
  width: 35%;
}

.footer_left>img{
  width: 104px;
  height: 24px;
  margin-bottom: 30px;
}

.social{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0;
}

.social img{

}

.footer_left span, .footer_right a{
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #AFB5C0;
}

.footer_right p{
  color: #0B132A;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
padding-bottom: 20px;
}

.footer_right a{
  color: #4F5665;
  text-decoration: none;
}

.footer_right li{
list-style: none;
}